.imageProperties {
  width: 200px;
  max-height: 200px;
  min-height: 200px;
  padding: 3px;
}

.columnProperties {
  column-width: 30px;
  max-width: 19%;
}

.formProperties {
  padding-bottom: 20px;
}